* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: black;
}

.titulo {
  text-align: center;
  grid-area: titulo;
}

.subtitulo {
  text-align: center;
  grid-area: subtitulo;
}

@media screen and (min-width: 765px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 26px;
  }
}
/*HEADER*/
header {
  background-color: rgb(255, 131, 73);
  padding: 10px;
  grid-area: header;
}

/*FOOTER*/
footer {
  margin-top: auto;
  bottom: 0;
  text-align: center;
  grid-area: footer;
}
footer .redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 10px;
}
footer .redes .imagenRedes {
  height: 20px;
  width: auto;
}

@media screen and (min-width: 765px) {
  footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer .redes .imagenRedes {
    height: 25px;
    width: 25px;
  }
}
@media screen and (min-width: 1024px) {
  footer .redes .imagenRedes {
    height: 30px;
    width: 30px;
  }
}
.wrapperIndex {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "seccionIndex" "aboutMe" "comunidad" "footer";
}

.seccionIndex, .aboutMe {
  background-color: rgb(194, 240, 173);
  width: 70%;
  height: auto;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 1);
  grid-area: seccionIndex;
  transition: all 2s;
}
.seccionIndex:hover, .aboutMe:hover {
  transform: scale(1.05, 1.05);
}

.imagenIndex {
  width: 80%;
  height: auto;
  margin: 0;
}

.aboutMe {
  width: 85%;
  height: auto;
  grid-area: aboutMe;
  display: grid;
  gap: 5px;
  justify-items: center;
  grid-template-areas: "titulo" "fotoIzquierda" "parrafoDerecha";
}
.aboutMe .fotoIzquierda {
  width: 200px;
  height: auto;
  grid-area: fotoIzquierda;
}
.aboutMe .parrafoDerecha {
  width: auto;
  height: 150px;
  grid-area: parrafoDerecha;
}

.mb-5 {
  grid-area: comunidad;
  margin: 3rem;
}

.card-body {
  background-color: rgb(194, 240, 173);
}

@media screen and (min-width: 765px) {
  .wrapperIndex {
    gap: 40px;
  }

  .aboutMe {
    display: grid;
    gap: 7px;
    grid-template-areas: "titulo titulo" "fotoIzquierda parrafoDerecha";
  }
  .aboutMe .fotoIzquierda {
    width: 300px;
    height: auto;
  }
  .aboutMe .parrafoDerecha {
    width: 290px;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .wrapperIndex {
    gap: 50px;
  }

  .aboutMe {
    gap: 10px;
  }
  .aboutMe .fotoIzquierda {
    width: auto;
    height: 500px;
  }
  .aboutMe .parrafoDerecha {
    width: 400px;
    height: auto;
  }
}
.form-floating {
  padding: 0.5rem;
}

.wrapperCuriosities {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "titulo" "articulosCuriosidadIzquierda" "articulosCuriosidadDerecha" "footer";
}
.wrapperCuriosities .articulosCuriosidadIzquierda, .wrapperCuriosities .articulosCuriosidadDerecha {
  margin: 0 auto;
  border-radius: 1rem;
  padding: 2rem 2rem;
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 1);
  transition: all 2s;
  width: 70%;
  height: auto;
  background-color: rgb(194, 240, 173);
  display: grid;
  gap: 5px;
  justify-items: center;
  grid-template-areas: "subtitulo" "foto" "parrafo";
}
.wrapperCuriosities .articulosCuriosidadIzquierda:hover, .wrapperCuriosities .articulosCuriosidadDerecha:hover {
  transform: scale(1.05, 1.05);
}
.wrapperCuriosities .articulosCuriosidadIzquierda .foto, .wrapperCuriosities .articulosCuriosidadDerecha .foto {
  width: 200px;
  height: auto;
  grid-area: foto;
}
.wrapperCuriosities .articulosCuriosidadIzquierda .parrafo, .wrapperCuriosities .articulosCuriosidadDerecha .parrafo {
  width: auto;
  height: 150px;
  grid-area: parrafo;
}

.articulosCuriosidadIzquierda {
  grid-area: articulosCuriosidadIzquierda;
}

.articulosCuriosidadDerecha {
  grid-area: articulosCuriosidadDerecha;
}

@media screen and (min-width: 765px) {
  .wrapperCuriosities {
    gap: 40px;
  }
  .wrapperCuriosities .articulosCuriosidadIzquierda {
    width: 85%;
    height: auto;
    display: grid;
    gap: 7px;
    grid-template-areas: "subtitulo subtitulo" "foto parrafo";
  }
  .wrapperCuriosities .articulosCuriosidadIzquierda .foto {
    width: 300px;
    height: auto;
  }
  .wrapperCuriosities .articulosCuriosidadIzquierda .parrafo {
    width: auto;
    height: 290px;
  }
  .wrapperCuriosities .articulosCuriosidadDerecha {
    width: 85%;
    height: auto;
    display: grid;
    gap: 7px;
    grid-template-areas: "subtitulo subtitulo" "parrafo foto";
  }
  .wrapperCuriosities .articulosCuriosidadDerecha .foto {
    width: 300px;
    height: auto;
  }
  .wrapperCuriosities .articulosCuriosidadDerecha .parrafo {
    width: auto;
    height: 290px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapperCuriosities {
    gap: 50px;
  }
  .wrapperCuriosities .articulosCuriosidadIzquierda {
    display: grid;
    gap: 10px;
    grid-template-areas: "subtitulo subtitulo" "foto parrafo";
  }
  .wrapperCuriosities .articulosCuriosidadIzquierda .foto {
    width: auto;
    height: 350px;
  }
  .wrapperCuriosities .articulosCuriosidadIzquierda .parrafo {
    width: auto;
    height: 300px;
  }
  .wrapperCuriosities .articulosCuriosidadDerecha {
    display: grid;
    gap: 10px;
    grid-template-areas: "subtitulo subtitulo" "parrafo foto";
  }
  .wrapperCuriosities .articulosCuriosidadDerecha .foto {
    width: auto;
    height: 400px;
  }
  .wrapperCuriosities .articulosCuriosidadDerecha .parrafo {
    width: auto;
    height: 400px;
  }
}
.sectionAttraction {
  padding-right: 2rem;
  padding-left: 2rem;
}

.wrapperInformation {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "titulo" "seccionInformation" "seccionInformation" "footer";
}

.accordion {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 765px) {
  .wrapperInformation {
    gap: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapperInformation {
    gap: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
