.wrapperAttraction{
    display: grid;
    gap: $gapEstructurasChico;
    grid-template-areas: 
    "header"
    "titulo"
    "seccionAtraction"
    "footer";
    .sectionAttraction{
        grid-area: seccionAtraction;
    }
}