
@mixin card ($margin, $border, $padding, $sombra, $transition) {
    margin: $margin;
    border-radius: $border;
    padding: $padding;
    box-shadow: $sombra;
    transition: $transition;
}
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}
.wrapperCuriosities{
    display: grid;
    gap: $gapEstructurasChico;
    grid-template-areas: 
    "header"
    "titulo"
    "articulosCuriosidadIzquierda"
    "articulosCuriosidadDerecha"
    "footer";
    .articulosCuriosidadIzquierda, .articulosCuriosidadDerecha{
        @include card(0 auto, 1rem, 2rem 2rem, 0 0.1rem 0.4rem $colorSombras, all 2s);
        @include sizes(70%, auto);
        background-color: $colorCards;
        display: grid;
        gap: $gapGeneralChico;
        justify-items: center;
        grid-template-areas: 
        "subtitulo" 
        "foto"
        "parrafo";
        &:hover{
            transform: scale(1.05,1.05);
        }
        .foto{
            @include sizes(200px, auto);
            grid-area: foto;
        }
        
        .parrafo{
            @include sizes(auto, 150px);
            grid-area: parrafo;
        }
    }
}
.articulosCuriosidadIzquierda{
    grid-area: articulosCuriosidadIzquierda;
}

.articulosCuriosidadDerecha{
    grid-area: articulosCuriosidadDerecha;
}

@media screen and (min-width: 765px){
    .wrapperCuriosities{
        gap: $gapEstructurasMediano;
        .articulosCuriosidadIzquierda{ 
            @include sizes(85%, auto);
            display: grid;
            gap: $gapGeneralMediano;
            grid-template-areas: 
            "subtitulo subtitulo"
            "foto parrafo";
            .foto{
                @include sizes(300px, auto);
            }
            .parrafo{
                @include sizes(auto, 290px);
            }
        }
        .articulosCuriosidadDerecha{
            @include sizes(85%, auto);
            display: grid;
            gap: $gapGeneralMediano;
            grid-template-areas: 
            "subtitulo subtitulo"
            "parrafo foto";
            .foto{
                @include sizes(300px, auto);
            }
            .parrafo{
                @include sizes(auto, 290px);
            }
        }
    }  
}
@media screen and (min-width: 1024px){
    .wrapperCuriosities{
        gap: $gapEstructurasGrande;
        .articulosCuriosidadIzquierda{
            display: grid;
            gap: $gapGeneralGrande;
            grid-template-areas: 
            "subtitulo subtitulo"
            "foto parrafo";
            .foto{
                @include sizes(auto, 350px);
            }
            .parrafo{
                @include sizes(auto, 300px);
            }
        }
        .articulosCuriosidadDerecha{
            display: grid;
            gap: $gapGeneralGrande;
            grid-template-areas: 
            "subtitulo subtitulo"
            "parrafo foto";
            .foto{
                @include sizes(auto, 400px);
            }
            .parrafo{
                @include sizes(auto, 400px);
            }
        }
    }   
}