@import "utilidades";
.wrapperIndex{
    display: grid;
    gap: $gapEstructurasChico;
    grid-template-areas: 
    "header"
    "seccionIndex"
    "aboutMe"
    "footer";
}

.seccionIndex{
    background-color: $colorCards;
    width: 70%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    box-shadow: 0 0.1rem 0.4rem $colorSombras;
    grid-area: seccionIndex;
    transition: all 2s;
    &hover{
        transform: scale(1.05,1.05);
    }
    .imagenIndex{
        width: 80%;
        height: auto;
        margin: 0;
    }
}

.aboutMe{
    background-color: $colorCards;
    width: 85%;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem 2rem;
    box-shadow: 0 0.1rem 0.4rem $colorSombras;
    transition: all 2s; 
    grid-area: aboutMe;
    display: grid;
    gap: $gapGeneralChico;
    justify-items: center;
    grid-template-areas: 
    "titulo"
    "fotoIzquierda"
    "parrafoDerecha";
    &hover{
        transform: scale(1.05,1.05);
    }
    .fotoIzquierda{
        height: auto;
        width: 200px;
        grid-area: fotoIzquierda;
    }
    
    .parrafoDerecha{
        width: auto;
        height: 150px;
        grid-area: parrafoDerecha;
    }
}

@media screen and (min-width: 765px){
    .wrapperIndex{
        gap: $gapEstructurasMediano;
    }
    .aboutMe{
        display: grid;
        gap: $gapGeneralMediano;
        grid-template-areas: 
        "titulo titulo"
        "fotoIzquierda parrafoDerecha";
        .fotoIzquierda{
            width: 300px;
        }
        .parrafoDerecha{
            width: 290px;
        }
    }   
}
@media screen and (min-width: 1024px){
    .wrapperIndex{
        gap: $gapEstructurasGrande;
    }
    
    .aboutMe{
        /* display: grid; */
        gap: $gapGeneralGrande;
        /* grid-template-areas: 
        "titulo titulo"
        "fotoIzquierda parrafoDerecha"; */
        .fotoIzquierda{
            height: 500px;
            width: auto;
        }
        .parrafoDerecha{
            width: 400px;
        }
    }
}
    