@import "variables";

@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

.wrapperIndex{
    display: grid;
    gap: $gapEstructurasChico;
    grid-template-areas: 
    "header"
    "seccionIndex"
    "aboutMe"
    "comunidad"
    "footer";
}

.seccionIndex{
    background-color: $colorCards;
    @include sizes(70%, auto);
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    box-shadow: 0 0.1rem 0.4rem $colorSombras;
    grid-area: seccionIndex;
    transition: all 2s;
    &:hover{
        transform: scale(1.05,1.05);
    }
}
.imagenIndex{
    @include sizes(80%, auto);
    margin: 0;
}

.aboutMe{
    @extend .seccionIndex;
    @include sizes(85%, auto);
    grid-area: aboutMe;
    display: grid;
    gap: $gapGeneralChico;
    justify-items: center;
    grid-template-areas: 
    "titulo"
    "fotoIzquierda"
    "parrafoDerecha";
    .fotoIzquierda{
        @include sizes(200px, auto);
        grid-area: fotoIzquierda;
    }
    .parrafoDerecha{
        @include sizes(auto, 150px);
        grid-area: parrafoDerecha;
    }
}
.mb-5{
    grid-area: comunidad;
    margin: 3rem;
}
.card-body{
    background-color: $colorCards;
}

@media screen and (min-width: 765px){
    .wrapperIndex{
        gap: $gapEstructurasMediano;
    }
    .aboutMe{
        display: grid;
        gap: $gapGeneralMediano;
        grid-template-areas: 
        "titulo titulo"
        "fotoIzquierda parrafoDerecha";
        .fotoIzquierda{
            @include sizes(300px, auto);
        }
        .parrafoDerecha{
            @include sizes(290px, auto);
        }
    }   
}
@media screen and (min-width: 1024px){
    .wrapperIndex{
        gap: $gapEstructurasGrande;
    }
    
    .aboutMe{
        gap: $gapGeneralGrande;
        .fotoIzquierda{
            @include sizes(auto, 500px);
        }
        .parrafoDerecha{
            @include sizes(400px, auto);
        }
    }
}
    