@import "variables";
.wrapperInformation{
    display: grid;
    gap: $gapEstructurasChico;
    grid-template-areas: 
    "header"
    "titulo"
    "seccionInformation"
    "seccionInformation"
    "footer";
}
.accordion{
    padding-left: 1rem;
    padding-right: 1rem;
}
@media screen and (min-width: 765px){
    .wrapperInformation{
        gap: $gapEstructurasMediano;   
    }
}

@media screen and (min-width: 1024px){
    .wrapperInformation{
        gap: $gapEstructurasGrande;
    }
}