//COLORES
$colorheader: rgb(255, 131, 73);
$colorbody: rgb(255, 255, 255);
$colorCards: rgb(194, 240, 173);
$colorSombras: rgb(0, 0, 0.8);
//rgb(140, 219, 104)
//ESPACIOS
$gapEstructurasChico: 20px;
$gapEstructurasMediano: 40px;
$gapEstructurasGrande: 50px;
$gapGeneralChico: 5px;
$gapGeneralMediano: 7px;
$gapGeneralGrande: 10px;
