/*TAMAÑO CHICO*/

/*General*/
* {
    margin: 0;
    padding: 0;
  }

/* html{
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
} */

 body{
    background-color: rgb(255, 255, 255); 
} 

a{
    text-decoration: none;
    color: black;
}

.imagenRedes{
    height: 20px;
    width: auto;
}

.titulo{
    text-align: center;
    grid-area: titulo;
}

.subtitulo{
    text-align: center;
    grid-area: subtitulo;
}

header{
    background-color: rgb(255, 131, 73);
    padding: 10px;
    grid-area: header;
}

ul{
    list-style-type: none;
    padding-left: 10px;
}

footer{
    margin-top: auto;
    bottom: 0;
    text-align: center;
    grid-area: footer;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/*INDEX*/
#wrapperIndex{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "seccionIndex"
    "aboutMe"
    "footer";
}

.seccionIndex{
    background-color: rgb(140, 219, 104);
    width: 70%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.8);
    grid-area: seccionIndex;
    transition: all 2s;
}
.seccionIndex:hover{
    transform: scale(1.05,1.05);
}

.imagenIndex{
    width: 80%;
    height: auto;
    margin: 0;
}

.aboutMe{
    background-color: rgb(140, 219, 104);
    width: 85%;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem 2rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.8);
    transition: all 2s; 
    grid-area: aboutMe;
    display: grid;
    gap: 5px;
    justify-items: center;
    grid-template-areas: 
    "titulo"
    "fotoIzquierda"
    "parrafoDerecha";
}
.aboutMe:hover{
    transform: scale(1.05,1.05);
}

.fotoIzquierda{
    height: auto;
    width: 200px;
    grid-area: fotoIzquierda;
}

.parrafoDerecha{
    width: auto;
    height: 150px;
    grid-area: parrafoDerecha;
}


/*CONTACT*/
#wrapperContact{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "seccionContact"
    "footer"
}

.labelContactName{
    text-align: center;
    grid-area: labelContactName;
}

.labelContactMail{
    text-align: center;
    grid-area: labelContactMail;
}

.labelContactQuestions{
    text-align: center;
    grid-area: labelContactQuestions;
}

.nameContactInput{
   grid-area: nameContactInput; 
}

.mailContactInput{
    grid-area: mailContactInput;
}

.questionsContactInput{
    grid-area: questionsContactInput;
} 


.seccionContact{
    background-color: rgb(140, 219, 104);
    width: 85%;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem 2rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.8);
    grid-area: seccionContact;
}

.formContact{
    display: grid;
    gap: 5px;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "labelContactName"
    "nameContactInput"
    "labelContactMail"
    "mailContactInput"
    "labelContactQuestions"
    "questionsContactInput"
    "button"
}

.articleContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#buttonContact{
    grid-area: button;
}


/*Attraction*/
.sectionAttraction{
    grid-area: seccionAtraction;
}
#wrapperAttraction{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "titulo"
    "seccionAtraction"
    "footer";
}


/*Curiosities*/
#wrapperCuriosities{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "titulo"
    "articulosCuriosidadIzquierda"
    "articulosCuriosidadDerecha"
    "footer";
}

.articulosCuriosidadIzquierda, .articulosCuriosidadDerecha{
    background-color: rgb(140, 219, 104);
    width: 70%;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem 2rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.8); 
    transition: all 2s;
    display: grid;
    gap: 5px;
    justify-items: center;
    grid-template-areas: 
    "subtitulo"
    "foto"
    "parrafo";
}
.articulosCuriosidadDerecha:hover{
    transform: scale(1.05,1.05);
}
.articulosCuriosidadIzquierda:hover{
    transform: scale(1.05,1.05);
}

.articulosCuriosidadIzquierda{
    grid-area: articulosCuriosidadIzquierda;
}

.articulosCuriosidadDerecha{
    grid-area: articulosCuriosidadDerecha;
}

.foto{
    height: auto;
    width: 200px;
    grid-area: foto;
}

.parrafo{
    width: auto;
    height: 150px;
    grid-area: parrafo;
}


/*Information*/
#wrapperInformation{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "titulo"
    "seccionInformation"
    "seccionInformation"
    "footer";
}




/*TAMA;O MEDIO*/
@media screen and (min-width: 765px){
    /*General*/
    html{
        font-size: 24px;
    } 
    
    .imagenRedes{
        height: 25px;
        width: 25px;
    }
    
    footer{
        grid-area: footer;
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /*Index*/
    #wrapperIndex{
        gap: 40px;
    }
    
    .aboutMe{
        display: grid;
        gap: 7px;
        grid-template-areas: 
        "titulo titulo"
        "fotoIzquierda parrafoDerecha";
    }
    .fotoIzquierda{
        width: 300px;
        grid-area: fotoIzquierda;
    }
    
    .parrafoDerecha{
        width: 290px;
        grid-area: parrafoDerecha;
    }

    /*Curiosities*/
    #wrapperCuriosities{
        gap: 40px;
    }
    .articulosCuriosidadIzquierda{ 
        width: 85%;
        display: grid;
        gap: 7px;
        justify-items: center;
        grid-template-areas: 
        "subtitulo subtitulo"
        "foto parrafo";
    }
    .articulosCuriosidadDerecha{
        width: 85%;
        display: grid;
        gap: 7px;
        justify-items: center;
        grid-template-areas: 
        "subtitulo subtitulo"
        "parrafo foto";
    }
    .foto{
        height: auto;
        width: 300px;
        grid-area: foto;
    }
    .parrafo{
        width: auto;
        height: 290px;
        grid-area: parrafo;
    }
    /*Information*/
    #wrapperInformation{
        gap: 40px;   
    }

    /*Contact*/
    #wrapperContact{
        gap: 40px;
    }
    .formContact{
        gap: 10px;
    }
}

/*TAMA;O GRANDE*/
@media screen and (min-width: 1024px){
    /*General*/
    html{
        font-size: 26px;
    }
    
    .imagenRedes{
        height: 30px;
        width: 30px;
    }
    
    footer{
        grid-area: footer;
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /*Index*/
    #wrapperIndex{
        gap: 50px;
    }
    
    .aboutMe{
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "titulo titulo"
        "fotoIzquierda parrafoDerecha";
    }
    .fotoIzquierda{
        height: 500px;
        width: auto;
        grid-area: fotoIzquierda;
    }
    
    .parrafoDerecha{
        height: auto;
        width: 400px;
        grid-area: parrafoDerecha;
    }
    /*Curiosities*/
    #wrapperCuriosities{
        gap: 50px;
    }
    .articulosCuriosidadIzquierda{
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "subtitulo subtitulo"
        "foto parrafo";
    }
    .articulosCuriosidadDerecha{
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "subtitulo subtitulo"
        "parrafo foto";
    }
    .foto{
        height: auto;
        width: 400px;
        grid-area: foto;
    }
    .parrafo{
        width: 400px;
        height: auto;
        grid-area: parrafo;
    }
    /*Information*/
    #wrapperInformation{
        gap: 50px;
    }

    /*Contact*/
    #wrapperContact{
        gap: 50px;
    }
    .formContact{
        gap: 20px;
    }
}